<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeTestingSuite" verbose="1">
	<listeners>
		<listener class-name="com.eagle.Reports.TestListener" />
	</listeners>
	<test name="Smoke Test cases" preserve-order="true">
		<classes>
			<class name="com.eagle.TestCases.LoginTest" />
			<class name="com.eagle.TestCases.ExplorationTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
